@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.title {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
}

@font-face {
  font-family: 'Font1';
  src: url('../assets/fonts/pixel-font.ttf');
  font-weight: 400;
  font-weight: normal;
}
